/.idea
/venv
/installer-files/var/www/html/opinionated-debian-installer/assets/
/installer-files/var/www/html/opinionated-debian-installer/index.html
efi-part.uuid
installer-image-part.uuid
repart.d/
